.container__menu-chars{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  border: 5px solid red;
  padding: 20px;
  margin:20px;
  max-height: 100%;
  max-width: 100%;
}
.info__menu-chars{
  display: flex;
  flex-direction: column;
  border: 2px solid blue;
  padding: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.stats__menu-chars{
  border: 2px solid purple;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  justify-items: center;
  padding: 30px;
  }

.stats__menu-chars ul{
  border: 2px solid purple;
  list-style: none;
}
.btnProx{
  width: 45px;
  height: 100px;
  opacity: 0.5;
  align-self: center;
  font-size: xx-large;
  background-color: aquamarine;
  margin: 5px 5px ;
}
.btnProx:hover{
  opacity: 2;
  background-color: aqua;
  margin: 10px 10px ;

}

.btnAnt{
  width: 45px;
  height: 100px;
  opacity: 0.5;
  align-self: center;
  font-size: xx-large;
  background-color: aquamarine;
  margin: 5px 5px ;
}
.btnAnt:hover{
  opacity: 2;
  background-color: aqua;
  margin: 10px 10px ;

}


