<section class="container__menu-chars">

 <div
  class="imagem__menu-chars">
  <img src="{{imgChar}}"
  alt="ImagemLua">
 </div>

<div class="info__menu-chars">

    <div class="desc__menu-chars">
      <h1>{{ nameChar }}</h1>
      <p>{{ descChar }}</p>
    </div>

    <div>
      <h1>Tabela de Status</h1>
    </div>

    <div class="stats__menu-chars">

      <ul class="stats__nome">
        <li> Nome Teste </li>
        <li> Nome Teste</li>
        <li> Nome Teste</li>
        <li> Nome Teste</li>
      </ul>
      <ul class="stats__valor">
        <li> Valor Teste </li>
        <li> Valor teste</li>
        <li> Valor teste</li>
        <li> Valor teste</li>
      </ul>

    </div>
</div>

</section>
